<div>
  <div class="page-title">
    <div class="title_left">
      <h3>Customer form</h3>
    </div>
    <div class="title_left">
      <h3>Cusormer</h3>
    </div>
    <div class="title_left">
      <h3>New Customer</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="height:600px;">
        <div class="x_content">
          <div class="container-fluid" >
            <%= render partial: 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
