<div class="table responsive">
  <table class="table" border="1" cellpadding="0" cellspacing="0" width="100%">
    <thead>
       <tr class="success">
    	  <th> Item Num </th>
    	  <th> Description </th>
    	  <th> Quantity </th>
    	  <th> Price </th>
       </tr>
    </thead>
      <tbody>
      	<% @order.order_items.each do |order| %>
    	  <tr >
    	  	  <td><%= order.item_number %></td>
    		  <td><%= order.description %></td>
    		  <td><%= order.quantity %></td>
    		  <td><%= order.price %></td>
    	  </tr>
      </tbody>
    <% end %>
  </table>
</div>