<div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="height:600px;">
        <div class="x_content">
          <div class="container-fluid"  style="margin-top: 100px;">
           <div class="text-left" >
              <h3> New Order </h3>
           </div>
           <%= render partial: 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
