<div id="unit_loading" style="display: none;">
  <div class="home_page_list">
    <p><%#= img_tag("ajaxspinner.gif") %></p>
  </div>
</div>
<div class="table-responsive" >
	<table cellpadding="0" cellspacing="1" id="my_table" border ="1" class= "table">
	  <thead>
	  	<tr>
	  	   <th> Order Num </th>
	  </tr>

	  </thead>
	  <tbody>
	      <tr>
	          <td> </td>
	  
	      </tr>
	  </tbody>
	</table>
</div>	
