  <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_content">
            <div class="container-fluid" style="margin-top: 100px">
              <div id="map" style="width:100%;height:600px">

                <%= render partial: 'customers/map' %>
                </div>
                <br>
                <br>
              <div> 
                 <div class='col-sm-2'>
                      <input type='text' class="form-control date_picker" id='datetimepicker4' placeholder="Enter Date " value="<%= Date.today.strftime("%d/%m/%Y") %>" />
                 </div>
                 <br>
                 <br>

                <%= render partial: 'today_orders' %>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>             
  <script type="text/javascript">
    
    jQuery(document).ready(function(){
      $.noConflict();  //Not to conflict with other scripts
      today_orders();
      setMap();
    })

    var today_orders = function today_orders(){
      var date = jQuery('#datetimepicker4').val()
      var markers = []
      var order_num =[]
      jQuery.ajax({

        url: '/today_orders',
        type: 'get',
        dataType:'json',
        data: {date: date},
        success: function(res){
          if(res){
              $.each(res,function(key , value){
                  // var $tr = $('<tr/>');
                  
                $("table.table").append("<tr><td>" + value['order_num'] + "</td></tr>");

                  // $tr.append($('<td/>').html(value['id']));
                  //$tr.append($('<td/>').html(value['order_num']));
                  // $tr.append($('<td/>').html(value['customer_id']));
                  //$('#my_table tr:last').before($tr);
                  var lat = value['lat']
                  var lng = value['lng']
                  order_num.push(value['order_num'])
                markers.push([lat ,lng]);
                
               })  
               displayMultipleMarkers(markers , order_num);    
          }


        else
        {
          $("table.table").append("<tr><td>" + "None Found" + "</td></tr>");
        }
        },
        error: function(e)
        {
          
        }

      })
    }    
     
    $(document).on('click', '.day', function(){
      $('#my_table tr').html('');
      today_orders();
    });


  </script>